<html>
  <head></head>
  <body>
    <h1>Add book</h1>
    <form method="post">
      <input type="text" id="title" name="title" />
      <input type="submit" id="submit" value="Save" />
    </form>
  </body>
</html>
