<html>
  <head>
  </head>
  <body>
    <h4>Add book page</h4>
    <form method="POST" action="/add_book">
      <input type="text" name="title" />
      <input type="submit" value="Add" />
    </form>

    <p>
      <a href="/">Return to search page</a>
    </p>
  </body>
</html>
