<h4>Welcome to OTB BookShelf</h4>

<p>Currently there are <%= @book_count %> books available.</p>

<form method="GET" action="/search_by_title">
  <input type="text" name="query" />
  <input type="submit" value="Search" />
</form>

<p><a href="/add_book">Add a new book</a></p>
