<html>
  <head>
  </head>
  <body>
    <p>Welcome to OTB BookShelf</p>
    <form method="GET" action="/search_by_title">
      <input type="text" name="query" />
      <input type="submit" value="Search" />
    </form>
  </body>
</html>
