 <html>
 <head></head>
 <body>
   <h1><%= results.size %> Result(s) found</h1>
 <ul>
 <% results.each do |result| %>
   <li class="result"><%= result.title %></li>
 <% end %>
 </ul>
 </body>
 </html>
