  <html>
    <head></head>
    <body>
      <ul id="results">
        <% @results.each do |result| %>
        <li><%= result %></li>
        <% end %>
      </ul>

      <p>
        <a href="/">Return to search page</a>
      </p>

    </body>
    </html>
